//Colors:

$black : #2B2D38;
$gray: #ABABAB;
$light-gray: #E1E1E1;
$pink:  #DB2A6B;
$white: #FFFFFF;
$bg-cyan: #60D3D9;
$bg-blue: #6E1FED;
$bg-yellow: #F4B840;
$bg-orange: #FF7E29;


//Text:

$primary: "Poppins";
$seconday: "Merriweather";