@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.container {
  background-color: $black;
  padding: 40px 140px 40px 160px;
  position: relative;
}

.services {
  display: flex;
  position: relative;
  bottom: 5rem;
  gap: 48px;
  align-items: center;
  .service__item {
    display: flex;
    max-width: min-content;
    gap: 16px;
    img {
      padding: 12px;
      border-radius: 16px;
      background: #FFFFFF40;
    }
    p {
      color: $white;
      font-weight: 600;
      transition: color 0.3s ease;
      &:hover {
        color:  $pink;
      }
    }
  }
}
