@use "../utils/mixins" as *;
@use "../utils/variables" as *;

div .header__principal {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  .header__menu {
    ul {
      display: flex;
      gap: 48px;
      list-style: none;
      justify-content: space-around;
      li {
        a {
          @include reset_list;
          transition: color 0.3s ease;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 30px;
            width: 0;
            height: 5px;
            left: 5%;
            transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 99px;
            background-color: $pink;
          }
          &:hover {
            color: $white;
            &::before {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
